body {
  background-color: aliceblue;
}

.title {
  font-size: 40px;
  text-align: center;
  font-family: "Century Gothic";
}

.body {
  text-align: center;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  row-gap: 15px;
  flex-basis: 100%;

}

#editor {
  resize: none;
  width: 100%;
}
.editor-title {
  font-family: "Century Gothic";
}


.preview-wrapper {
  padding: 15px;
  min-width: 45%;
  max-width: 45%;
}
.preview-title {
  font-family: "Century Gothic";
}

#text {

}

#preview {
  padding: 15px;
  background-color: white;
  color: black;
  border-radius: 5px;
  height: 89%;
  text-align: left;
  border: 1px solid black;
  
  overflow: scroll;
}


.textarea-wrapper {
  padding: 15px;
  min-width: 45%;
  max-width: 45%;

}